/****** PLACE YOUR CUSTOM STYLES HERE ******/
.accordion li.active .content {
	max-height: none;
}
.accordion-1 .content p {
    margin-bottom: 0;
}
.accordion-1 .content ul {
	padding: 13px;
}
.accordion-1 ul {
    list-style: disc;
    margin-left: 13px;
}
.accordion-1 ul li {
    margin-left: 13px;
}

footer .widget .title {font-size: 14px;}

h6.title{text-transform: uppercase;}
.UpperCaseMe{text-transform: uppercase;}


.blockContent ul {list-style-type: circle; margin-left: 10px;}
.blockContent li {margin-left: 10px;}

p{margin-bottom: 10px;}
img.ActionBoxImg{margin-bottom: 20px;}
section.page-title {margin: 0 0 40px 0 !important;}